<ion-view view-title="Title">
  <ion-header-bar align-title="left" class="bar-positive">
       <h1 class="title">Dashboard</h1>
       <button class="button button-icon ion-android-more-vertical" ng-click="openPopover($event)"></button>
  </ion-header-bar>
  <ion-content class="padding" overflow-scroll="false">
  		<div class="col">
  			<img  ng-click="next()" class="logo" height="105px" width="75px" src="img/sales.png">
  			<h4 id="centre">Upload stock</h4>
  		</div>
  		<div class="col">
  			<img ng-click="make_sales()" class="logo" height="105px" width="75px" src="img/stock.png">
  			<h4 id="centre">Make sales</h4>
  		</div>
  		<div class="col">
  			<img ng-click="stock_manag()" class="logo" height="105px" width="75px" src="img/sales1.png" >
  			<h4 id="centre">Stock management</h4>
  		</div>
  </ion-content>
</ion-view>
