<ion-view view-title="Title">
	<ion-header-bar align-title="left" class="bar-positive">
	  <div class="buttons">
		<button class="button button-icon ion-arrow-left-c" ng-click="dashPage()"></button>
	  </div>
	  <h1 class="title">Delete Stock</h1>
	</ion-header-bar>
  <ion-content overflow-scroll="false" padding="true" onload = "doRefresh()">
     <ion-refresher
        pulling-text="Pull to refresh"
        on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list can-swipe="true">
      <ion-item ng-repeat="stock in stocks">
        <b id= "stk_name">{{stock.name}}</b>
        <p class="item-text-wrap">You have {{stock.quantity}} left</p>
        <ion-option-button class="button-assertive icon ion-trash-a" ng-click="deleteStock($index,stock.id, stock.name, stock.quantity)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>