<ion-modal-view>
    <ion-header-bar align-title="left" class="bar-positive">
        <h1 class="title">Final stock upload</h1>
      <div class="buttons">
        <button class="button button-positive" ng-click="hideModal()">Cancel</button>
      </div>
    </ion-header-bar>
  <ion-content class="padding" overflow-scroll="false">
      <div class="row">
      <div class="col" id="col"><b>Name</b></div>
      <div class="col" id="col"><b>Quantity</b></div>
      <div class="col" id="col"></div>
    </div>
    <div class="row" ng-repeat="all in cart">
      <div class="col" id="col">{{all.prd_name}}</div>
      <div class="col" id="col">{{all.qty}}</div>
      <div class="col" id="col"><button class="button button-sales button-assertive" ng-click="remove($index)">Remove</button></div>
    </div>

    <button class="button button-positive button-block" ng-click="uploadStock()">Upload</button>
  </ion-content>

</ion-modal-view>
