<ion-view view-title="Title">
	<ion-header-bar align-title="left" class="bar-positive">
	  <div class="buttons">
	    <button class="button button-icon ion-arrow-left-c" ng-click="back_to_sales()"></button>
	  </div>
	  <h1 class="title">Make sales</h1>
	</ion-header-bar>
  <ion-content overflow-scroll="false" class="padding">
  	<div class="row">
  		<div class="col" id="col"><b>Name</b></div>
  		<div class="col" id="col"><b>Quantity</b></div>
  		<div class="col" id="col"></div>
  	</div>
  	<div class="row" ng-repeat="crt in cart">
  		<div class="col" id="col">{{crt.name}}</div>
  		<div class="col" id="col">{{crt.quantity}}</div>
  		<div class="col" id="col"><button class="button button-sales button-assertive" ng-click="remove($index)">Remove</button></div>
  	</div>
  </ion-content>
  <<ion-footer-bar align-title="center" class="bar bar-positive" ng-click="done()">
    <h1 class="title">Make sales <i class="icon ion-checkmark"></i></h1>
  </ion-footer-bar>
</ion-view>
