<ion-view view-title="Title">
 <ion-header-bar align-title="left" class="bar-positive">
 	  <h1 class="title">Login</h1>
 	</ion-header-bar>
 <ion-content class="padding" overflow-scroll="false">
 	<div>
 		<form class="list" ng-submit="doLogin()">
 			<div>
 				<img class="logo" src="img/sales.jpg">
 			</div>
 				<label class="item item-icon-left">
		 			<i class="icon ion-android-phone-portrait"></i>
    			 	<input type="number" placeholder="Phone number" ng-model="loginData.phone">
 				</label>

 				<label class="item item-icon-left">
		 			<i class="icon ion-locked"></i>
    			 	<input type="password" placeholder="Password" ng-model="loginData.password">
 				</label>
 					<button class="button button-positive button-block" ng-disabled="loginData.phone ==null || loginData.password ==null">Log in</button>
      <p style="text-align: center">Don't have an account ?<a style="text-decoration: none" href="#/register">Create here</a></p>
 			</form>

 		</div>
 	</ion-content>
  <ion-footer-bar align-title="center" class="bar bar-clear">

  </ion-footer-bar>

</ion-view>
