<ion-popover-view>
  <ion-content>
    <div class="list" ng-click="closePopover()">
      <a class="item" href="#/update">Update stock</a>
      <a class="item" href="#/delete">Delete stock</a>
    </div>
</ion-content>
</ion-popover-view>

