<ion-view view-title="Title">
  <ion-header-bar align-title="left" class="bar-positive">
       <h1 class="title">Profile</h1>
       <div class="buttons">
       		<button class="button button-icon ion-power" ng-click="logout()"></button>
       </div>
  </ion-header-bar>
  <ion-content overflow-scroll="false">

    <div class="list card">
      <div class="item item-divider item-positive">
        User details
      </div>
      <label class="item item-input">
        <span class="input-label">Name</span>
        <input type="text" ng-value="fullname" ng-disabled="true">
      </label>
      <label class="item item-input">
        <span class="input-label">Email-Address</span>
        <input type="text" ng-value="email" ng-disabled="true">
      </label>
      <label class="item item-input">
        <span class="input-label">Phone</span>
        <input type="text" ng-value="phone" ng-disabled="true">
      </label>
      <label class="item item-input">
        <span class="input-label">StoreName</span>
        <input type="text" ng-value="storename" ng-disabled="true">
      </label>
      </div>

      
   <div class="list card" ng-init= "refreshActivity()">
      <div class="item item-divider item-positive">
        User Activity
      </div>
      <div ng-show="stock_length == 0" style="text-align: center; margin-top: auto; padding: 20px;">No stock activity</div>
      <div class="item" ng-repeat="stock in stock_activity" ng-click= "showModal(stock)">
        {{stock.name}} was <span ng-if="stock.status == 1">sold</span><span ng-if="stock.status == 0">updated</span><span ng-if="stock.status == -1">Deleted</span>
        <p>{{stock.sales_date | date : 'HH:ss'}}</p>
      </div>
    </div>

  </ion-content>
</ion-view>
