<<ion-view view-title="Register">
	<ion-header-bar align-title="left" class="bar-positive">
	  <h1 class="title">Register</h1>
	</ion-header-bar>
  <ion-content class="padding" overflow-scroll="false">
   		<div class="list logo">
   			<label class="item item-icon-left">
   				<i class="icon ion-person"></i>
   				<input type="text" ng-model="details.fullname" placeholder="Full name">
   			</label>
   			<label class="item item-icon-left">
   				<i class="icon ion-email"></i>
   				<input type="email" ng-model="details.email" placeholder="Email address">
   			</label>
   			<label class="item item-icon-left">
   				<i class="icon ion-locked"></i>
   				<input type="password" ng-model="details.password" placeholder="Password">
   			</label>
   			<label class="item item-icon-left">
   				<i class="icon ion-iphone"></i>
   				<input type="number" ng-model="details.phone" placeholder="Telephone">
   			</label>
   			<label class="item item-icon-left">
   				<i class="icon ion-home"></i>
   				<input type="text" ng-model="details.storename" placeholder="Store name">
   			</label>

   			<button class="button button-block button-positive" ng-disabled="details.fullname==null || details.email == null|| details.password == null || details.phone == null || details.storename == null" ng-click="signup()">Register</button>
   			<p id="centre">Already have an account? click <a href="#/login">here</a></p>
   		</div>
  </ion-content>
</ion-view>
