<ion-view view-title="Title">
	<ion-header-bar align-title="left" class="bar-positive">
  <div class="buttons">
    <button class="button button-icon ion-arrow-left-c" ng-click="back()"></button>
  </div>
	  <h1 class="title" >Make Sales</h1>
 <!--  <div class="buttons">
    <button class="button button-icon button-right ion-search" ng-click="doSomething()"></button>
  </div> -->
	</ion-header-bar>

<ion-content overflow-scroll="false" onload="doRefresh()">
<!--   <div class="item-input-inset" ng-if ="display == true">
  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="text" ng-model="globalSearch.$" placeholder="Search">
  </label>
  <button class="button button-positive" ng-click="closeSearch()">
    Cancel
  </button>
</div> -->
    <ion-refresher
        pulling-text="Pull to refresh"
        on-refresh="doRefresh()">
    </ion-refresher>
  		<div class="row">
  			<div class="col" id="col"><b>Name</b></div>
  			<div class="col" id="col"><b>Quantity</b></div>
  			<div class="col" id="col"></div>
  		</div>

  <div ng-if="all_length == 0" style="text-align: center; margin-top: auto; padding: 20px;">No stock available</div>
  		<div class="row" ng-repeat="stocks in allStock | filter: globalSearch">
  			<div class="col" id="col" ><b id="stk_name">{{stocks.name}}</b>
        <p class="item-text-wrap">You have {{stocks.quantity}} left</p>
        </div>
  			<div class="col" id="col">
            <b class="item-text-wrap" ng-if="stocks.quantity == 0 " >Stock not Available</b>
            <input class="form item-input-wrapper" ng-hide="stocks.quantity == 0" type="number" ng-model="quantity" >
        </div>
  			<div class="col col-33" id="col"><button class="button button-block button-positive" ng-disabled="quantity == undefined" ng-click="addToCart(stocks.id,stocks.name, quantity, stocks.quantity)">Sell</button></div>
  		</div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-positive" ng-if="is_cart_empty == true" ui-sref="final_sales">
  		<h1 class="title"><i class="icon ion-android-cart"></i> Make sales</h1>
  		<button class="button button-clear"><b>{{num_of_product}}</b></button>
  </ion-footer-bar>
</ion-view>
