<ion-view view-title="Title">
	<ion-header-bar align-title="left" class="bar-positive">
	<div class="buttons">
		<button class="button button-icon ion-arrow-left-c" ng-click="back_dash()"></button></button>
	</div>
	  <h1 class="title">Stock Management</h1>
	</ion-header-bar>
 <!--  <div class="bar bar-header item-input-inset" ng-if ="display == true">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="text" ng-model="globalSearch.$" placeholder="Search">
    </label>
    <button class="button button-positive" ng-click="closeSearch()">
      Cancel
    </button>
  </div> -->
  <ion-content overflow-scroll="false">
    <ion-refresher
        pulling-text="Pull to refresh"
        on-refresh="doRefresh()">
    </ion-refresher>
    <div class="card">
        <div class="row">
            <div class="col">
                <b>{{total}}</b>
                <span>Stock Available</span>
            </div>
            <div class="col">
                <b>{{sales_length}}</b>
                <span>Sales made</span>
            </div>
        </div>
    </div>

    <div class="list card" ng-init="allStock">
      <div class="item item-divider item-positive">
        Stocks
      </div>
      <div class="item" ng-repeat= "stock in allStock | filter:globalSearch">
          <b id="stk_name">{{stock.name}}</b>
        <span class="badge badge-balanced" ng-if="stock.quantity > 10">{{stock.quantity}}</span>
        <span class="badge badge-assertive" ng-if="stock.quantity <= 10">{{stock.quantity}}</span>

      </div>
    </div>
  </ion-content>
</ion-view>
