<ion-modal-view>
	   <ion-header-bar align-title="left" class="bar-positive">
        <h1 class="title">Stock details</h1>
      <div class="buttons">
        <button class="button button-positive" ng-click="hideModal()">Cancel</button>
      </div>
    </ion-header-bar>
   <ion-content class="padding">
   		<table class="details">
   			<tr class="details">
   				<td class="details">Stock ID</td>
   				<td class="details"> {{stock_details.id}} </td>
   			</tr>
   			<tr class="details">
   				<td class="details" >Stock Name</td>
   				<td class="details" id= "stk_name">{{stock_details.name}}</td>
   			</tr>
   			<tr class="details">
   				<td class="details">Date</td>
   				<td class="details">{{stock_details.createdAt | date}}</td>
   			</tr>
   			<tr class="details">
   				<td class="details">Quantity</td>
   				<td class="details">{{stock_details.quantity}}</td>
   			</tr>
   			<tr class="details">
   				<td class="details">Status</td>
   				<td ng-if= "stock_details.status == 1"class="details item item-balanced">SOLD</td>
          <td ng-if= "stock_details.status == 0"class="details item item-energized">UPDATED</td>
          <td ng-if= "stock_details.status == -1"class="details item item-assertive">DELETED</td>
   			</tr>
   		</table>
   </ion-content>

</ion-modal-view>
