<<ion-tabs class="tabs-positive tabs-icon-only">

  <ion-tab title="Dashboard" icon-on="ion-home" icon-off="ion-home"  href="#/tab/dashboard">
    <!-- Tab 1 content -->
    <ion-nav-view name="dashboard"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Profile" icon-on="ion-person" icon-off="ion-person"  href="#/tab/profile">>
    <!-- Tab 2 content -->
    <ion-nav-view name="profile"></ion-nav-view>
  </ion-tab>

</ion-tabs>
<ion