<ion-view view-title="Title">
	<ion-header-bar align-title="left" class="bar-positive">
	  <div class="buttons">
	    <button class="button button-icon ion-arrow-left-c" ng-click="dashPage()"></button>
	  </div>
	  <h1 class="title">Update Stock</h1>
	</ion-header-bar>
  <ion-content overflow-scroll="false">

  <ion-refresher
        pulling-text="Pull to refresh"
        on-refresh="doRefresh()">
    </ion-refresher>

    	<div class="row">
  			<div class="col" id="col"><b>Name</b></div>
  			<div class="col" id="col"><b>Quantity</b></div>
  			<div class="col" id="col"></div>
  		</div>
  		
  		<div class="row" ng-repeat="stock in stocks | filter: searchBar">
  			<div class="col" id="col" ><b id= "stk_name">{{stock.name}}</b>
        		<p class="item-text-wrap">You have {{stock.quantity}} left</p>
        	</div>
        	<div class="col" id="col">
           		<input class="form item-input-wrapper" type="number" ng-model="quantity" >
       		 </div>
       		<div class="col">
       			<button class="button icon-left ion-shuffle button-balance button-positive" ng-disabled="quantity == undefined" ng-click="doUpdate(stock.id,quantity, stock.quantity,stock.name)">update</button>
       		</div>
        </div>
  		
  </ion-content>
</ion-view>