<ion-view view-title="Title">
  <ion-header-bar align-title="center" class="bar-positive">
  <div class="buttons">
	  <button class="button button-icon ion-arrow-left-c" ng-click="back()"></button>
  </div>
    <h1 class="title">Upload stock</h1>
    <div class="buttons">
      <button class="button button-icon ion-ios-cart" ng-click="showModal()"><i class="badge badge-assertive" ng-if="cartLength > 0">{{cartLength}}</i></button>
    </div>
  </ion-header-bar>
 	<ion-content class="padding" overflow-scroll="false">
 <div class="list">
		<div class="item item-input-inset">
			<label class="item-input-wrapper">
				<input type="number" placeholder="How many product are you hiding" ng-model="stock">
			</label>
		<button class="button button-small button-positive" ng-click="tryUpload(stock)">
			Submit
		</button>
	</div>
 </div>
    <ul class="card padding" ng-if = "show == true">
        <li ng-repeat="count in repeat track by $index" class="item" >
          <div class="row">
            <div class="col">
              <b>Product name</b>
            </div>
            <div class="col">
              <input type="text" class="form" ng-model="prd_name">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <b>Quantity</b>
            </div>
            <div class="col">
              <input type="number" class="form" ng-model="qty">
            </div>
          </div>
          <div class="row">
            <div class="col">
            </div>
            <div class="col">
              <button class="button button-assertive button-block" ng-disabled="prd_name == null && qty == null" ng-click="add2cart($index,prd_name,qty)">add</button>
            </div>
          </div>
          </li><br>
      </ul>

    <ul>
      <li ng-repeat="count in stock">
        {{count}}
      </li>
    </ul>
  	</ion-content>
</ion-view>
