/* Empty. Add your own CSS if you like */
.logo{
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-bottom: 20px;
}

#centre{
	text-align: center;
}

#col{
	border: 1px solid #ddd;
	border-radius: 2px;
	width: 100%;
  text-align: center;
	background: #f7f7f7;
}

input.form {
  border-bottom: 1px solid #0a9dc7;
  width : 100%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding:  15px;
}
th{
  text-align: left;
}
table{
  border-spacing: 5px;
  width: 100%;
  height: auto;
}
table tr:nth-child(even) {
  background-color: #eee;
}
table tr:nth-child(odd) {
  background-color: #fff;
}
#stk_lvl{
  text-align: center;
}

table.details, tr.details, td.details {
	border: 1px solid #ddd;
    text-align: left;
}

table.details {
	border-collapse: collapse;
    width: 100%;
}

td.details {
	padding: 15px;
}

#stk_name {
	text-transform: uppercase;
}

.popover {
  height: 128px;
}